In [16]:
import pandas as pd, numpy as np
import requests
import json
import time

In [26]:
def get_data(keyword,loc=("39.7738797","-86.1784417"),  radius = "5000"):
  # API Key
  APIKEY = 'AIzaSyCPUAkr1Q_zfKt2uBED5tUYVaf5I2If9eo' 
  lat, lng = loc
  pagetoken = None
  # URL: Link + Lat + Lng + Radius + Type means keyword(Restaurant, Mall etc) + 
  url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat},{lng}&radius={radius}&type={type}&key={APIKEY}{pagetoken}".format(lat = lat, lng = lng, radius = radius, 
                                                                                                                                                       type = keyword,APIKEY = APIKEY, 
                                                                                                                                                       pagetoken = "&pagetoken="+pagetoken 
                                                                                                                                                       if pagetoken else "")
  # print(url)
  response = requests.get(url)
  res = json.loads(response.text)
  # print(res)
  # print("here results ---->>> ", len(res["results"]))
  final_data = []
  for result in res["results"]:
    try:
      # Name of the place
      name = result['name']
      # Address of the place
      Add = result['vicinity']
      # Rating of the place
      rating = result['rating']
      # Types of the place associated with 
      types = result['types']
      data = [name, Add, rating, types, keyword]
      final_data.append(data)
    except:
      continue
  #create dataframe
  df = pd.DataFrame(final_data, columns=['Name','Address','Rating','types','keyword'])

  return(df)

In [35]:
df_1 = get_data(keyword="tourist_attraction",loc=("39.7738797","-86.1784417"),  radius = "5000")
df_2 = get_data(keyword="shopping_mall",loc=("39.7738797","-86.1784417"),  radius = "5000")
df_3 = get_data(keyword="art_gallery",loc=("39.7738797","-86.1784417"),  radius = "5000")
df_4 = get_data(keyword="restaurant",loc=("39.7738797","-86.1784417"),  radius = "5000")

In [34]:
df_1.head()

,Name,Address,Rating,types,keyword
0,Indianapolis Zoo,"1200 West Washington Street, Indianapolis",4.5,"[zoo, aquarium, tourist_attraction, point_of_i...",tourist_attraction
1,Indiana Statehouse,"200 West Washington Street, Indianapolis",4.6,"[tourist_attraction, local_government_office, ...",tourist_attraction
2,Indiana Historical Society,"450 West Ohio Street, Indianapolis",4.7,"[tourist_attraction, museum, point_of_interest...",tourist_attraction
3,Eiteljorg Museum,"500 West Washington Street, Indianapolis",4.6,"[tourist_attraction, museum, point_of_interest...",tourist_attraction
4,The Children's Museum of Indianapolis,"3000 North Meridian Street, Indianapolis",4.7,"[tourist_attraction, museum, point_of_interest...",tourist_attraction

In [36]:
df_2.head()

,Name,Address,Rating,types,keyword
0,Circle Centre Mall,"49 West Maryland Street, Indianapolis",4.1,"[shopping_mall, point_of_interest, establishment]",shopping_mall
1,West Side Shoppes,"West 10th Street, Indianapolis",4.2,"[shopping_mall, point_of_interest, establishment]",shopping_mall
2,SHE. EVENT INDY CO - SHEXperience Shoppes,"CIRCLE CENTRE MALL SHEXPERIENCE SHOPPES, 49 We...",4.8,"[shopping_mall, point_of_interest, establishment]",shopping_mall
3,Sun Garage,"48 West Maryland Street, Indianapolis",4.0,"[shopping_mall, point_of_interest, establishment]",shopping_mall
4,INDY,"30 South Meridian Street # 650, Indianapolis",4.7,"[shopping_mall, point_of_interest, establishment]",shopping_mall

In [37]:
df_3.head()

,Name,Address,Rating,types,keyword
0,City Gallery,"1505 North Delaware Street, Indianapolis",3.7,"[art_gallery, point_of_interest, establishment]",art_gallery
1,Cultural Arts Gallery,"Room #148, 420 University Boulevard, Indianapolis",5.0,"[art_gallery, point_of_interest, establishment]",art_gallery
2,Nancy Lee Designs,"1125 East Brookside Avenue, Indianapolis",5.0,"[art_gallery, jewelry_store, store, point_of_i...",art_gallery
3,Kurt Vonnegut Museum & Library,"543 Indiana Avenue, Indianapolis",4.8,"[art_gallery, tourist_attraction, museum, libr...",art_gallery
4,LO-FI Lounge,"G. C. Murphy Building, 1043 Virginia Avenue #2...",4.5,"[art_gallery, point_of_interest, establishment]",art_gallery

In [38]:
df_4.head()

,Name,Address,Rating,types,keyword
0,Shapiro's Delicatessen,"808 South Meridian Street, Indianapolis",4.5,"[bakery, meal_takeaway, restaurant, food, poin...",restaurant
1,St. Elmo Steak House,"127 South Illinois Street, Indianapolis",4.7,"[night_club, bar, restaurant, food, point_of_i...",restaurant
2,The Rathskeller,"401 East Michigan Street, Indianapolis",4.5,"[bar, restaurant, food, point_of_interest, est...",restaurant
3,Harry & Izzy's,"153 South Illinois Street, Indianapolis",4.7,"[restaurant, food, point_of_interest, establis...",restaurant
4,Buca di Beppo Italian Restaurant,"35 North Illinois Street, Indianapolis",4.1,"[restaurant, food, point_of_interest, establis...",restaurant